#menu .pure-menu-selected, #menu .pure-menu-heading {
	background-color: #2eae9b !important;
}

.social-menu { 
	margin-top: 10px;
	margin-left: 15px; 
}

a {
	color: #2eae9b;
}

a:visited {
	color: #777;
}

a:visited.pure-button {
	color: #ffffff;
}

a.pure-button-primary {
	background-color: #2eae9b;
}

#action {
	text-align: center;
	font-size: 150%;
	margin-top: 25px;
	margin-bottom: 30px;
}